<div class="container ml-5">

    <h2 class="text-2xl mb-3" ><span class="font-bold">Nombre del país:</span> Uruguay</h2>
    <img class="mb-4" src="https://img.freepik.com/vector-premium/bandera-uruguay-ilustracion-vectorial_514344-300.jpg?w=2000" style="width: 300px;" >
    <h2  class="font-bold mb-3 text-2xl" >Datos Generales.</h2>
    <p class="text-1xl mb-2">Es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital, Montevideo, se ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española. Esta lleva a la Ciudad Vieja, casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes. La Rambla es un paseo costero con puestos de pescados, muelles y parques.</p>
    <p class="text-1xl" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus soluta natus neque ratione officia quas harum doloremque cupiditate accusamus repellat, saepe explicabo quo debitis quibusdam iste veniam illum sunt dolor..</p>
</div>
