<div class="container ml-5">

    <h2 class="text-2xl mb-3"><span class="font-bold">Nombre del país:</span> Perú</h2>
    <img class="mb-4" src="https://media.istockphoto.com/id/967321126/es/vector/vector-de-bandera-del-per%C3%BA-proporci%C3%B3n-2-3-bandera-bicolor-nacional-peruana.jpg?s=612x612&w=0&k=20&c=vf4cWP08vckY1Yx0ULa0KDcgpHpo69vJD6bodEYX1Ag=" style="width: 300px;" >
    <h2 class="font-bold mb-3 text-2xl">Datos Generales.</h2>
    <p class="text-1xl mb-2">Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La región en torno a Machu 
    Picchu, incluido el Valle Sagrado, el Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos.
    El Perú es uno de los países más variados del mundo. Un país multicultural, lleno de  tradiciones, una laureada gastronomía y vastas reservas naturales. </p>

    <p class="text-1xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus soluta natus neque ratione officia quas harum doloremque cupiditate accusamus repellat, saepe explicabo quo debitis quibusdam iste veniam illum sunt dolor.</p>
</div>
