<div class="container ml-5">

    <h2 class="text-2xl mb-3" ><span class="font-bold">Nombre del país:</span> Chile</h2>
    <img class="mb-4" src="https://i.pinimg.com/736x/e5/93/c4/e593c4424346a2ec900c6296454f7119--chilean-flag-missionary-farewell.jpg" style="width: 300px;" >
    <h2  class="font-bold mb-3 text-2xl" >Datos Generales.</h2>
    <p class="text-1xl mb-2">Chile es un país largo y angosto que se extiende por el borde occidental de Sudamérica, con más de 6,000 km de costa en el océano Pacífico. Santiago, su capital, se ubica en un valle rodeado de los Andes y la cordillera de la Costa. En la Plaza de Armas de la ciudad, bordeada de palmeras, se encuentra la catedral neoclásica y el Museo de Historia Nacional. El enorme Parque Metropolitano cuenta con piscinas, un jardín botánico y un zoológico</p>
    <p class="text-1xl" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus soluta natus neque ratione officia quas harum doloremque cupiditate accusamus repellat, saepe explicabo quo debitis quibusdam iste veniam illum sunt dolor.</p>
</div>
